<mat-dialog-content class="mat-typography">
  <div class="up">
    <div class="free" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap fxFlexAlign="center">
      <mat-tab-group>
        <mat-tab label="Physical Activities">
          <mat-card>
            <mat-card-title>Rope-Jumping</mat-card-title>
            <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
            <mat-card-content>Don't drink any juice while running</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Squats</mat-card-title>
            <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
            <mat-card-content>Don't drink any juice while running</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Swimming</mat-card-title>
            <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
            <mat-card-content>Don't drink any juice while running</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Streching</mat-card-title>
            <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
            <mat-card-content>Don't drink any juice while running</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <p></p>
          <!-- <p>Your Today's Progress:</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          <p>You need to workout a bit more, You Can!!</p> -->
        </mat-tab>
        <mat-tab label="Mental Activities">
          <mat-card>
            <mat-card-title>Morning Affirmation</mat-card-title>
            <mat-card-subtitle>Check this quotes for 5 min</mat-card-subtitle>
            <mat-card-content>Write it on your heart that every day is the best day in the year</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Chanting Yoga</mat-card-title>
            <mat-card-subtitle>chant yoga for 5 min</mat-card-subtitle>
            <mat-card-content>Take a Deep Breath in and out</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Focused Meditation</mat-card-title>
            <mat-card-subtitle>Meditate for 5 min</mat-card-subtitle>
            <mat-card-content>Focus only on your breath and forget everything for a while</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Watch motivatonal video</mat-card-title>
            <mat-card-subtitle>watch this motivational video for 5 min</mat-card-subtitle>
            <mat-card-content>This video helps to keep you high through out your day</mat-card-content>
            <!-- <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Done</mat-radio-button>
                <mat-radio-button value="2">Not Done</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
        </mat-tab>
        <mat-tab label="Diet Plan">
          <mat-card>
            <mat-card-title>Breakfast</mat-card-title>
            <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
            <p>You can have the below items for Breakfast:</p>
            <mat-card-content>
              <mat-list fxFlex="33">
                <mat-list-item> idli-Sambar </mat-list-item>
                <mat-list-item> eggs </mat-list-item>
                <mat-list-item> flex-Seeds </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> tofu </mat-list-item>
                <mat-list-item> dry-fruits </mat-list-item>
                <mat-list-item> multiGrain bread </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> black coffee </mat-list-item>
                <mat-list-item> warm water </mat-list-item>
                <mat-list-item> Green Tea </mat-list-item>
              </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>Had breakfast: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions>
            <mat-card-actions>Had breakfast from above Items: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Lunch</mat-card-title>
            <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
            <p>You can have the below items for Lunch:</p>
            <mat-card-content>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>Had lunch: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions>
            <mat-card-actions>Had lunch from above Items: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Snacks and Other Items</mat-card-title>
            <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
            <p>You can have the below items for Snacks:</p>
            <mat-card-content>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>Had Snacks: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions>
            <mat-card-actions>Had Snacks from above Items: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <mat-card>
            <mat-card-title>Dinner</mat-card-title>
            <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
            <p>You can have the below items for Dinner:</p>
            <mat-card-content>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
              <mat-list fxFlex="33">
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
              </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>Had Dinner: <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions>
            <mat-card-actions>Had Dinner from above Items: <mat-radio-group aria-label="Select an option" >
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-actions> -->
          </mat-card>
          <p></p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-dialog-content>
