mat-list-item a{
  text-decoration: none;
  color: #fff;

}
mat-toolbar {
  background-color: var(--primary-color);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
}
img{
  width: 100px;
  height: 60px;
 margin-left: 3rem;
}

