<div class="container">
<div class="up" >
  <!-- <div class="free" fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap  fxFlexAlign="center">
    <mat-tab-group>
      <mat-tab label="Physical Activities">
        <mat-card >
          <mat-card-title >Rope-Jumping</mat-card-title>
          <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
          <mat-card-content>Don't drink any juice while running</mat-card-content>
          <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Done</mat-radio-button>
            <mat-radio-button value="2">Not Done</mat-radio-button>
          </mat-radio-group></mat-card-actions>
        </mat-card>
        <mat-card >
          <mat-card-title>Squats</mat-card-title>
          <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
          <mat-card-content>Don't drink any juice while running</mat-card-content>
          <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Done</mat-radio-button>
            <mat-radio-button value="2">Not Done</mat-radio-button>
          </mat-radio-group></mat-card-actions>
        </mat-card>
        <mat-card >
          <mat-card-title>Swimming</mat-card-title>
          <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
          <mat-card-content>Don't drink any juice while running</mat-card-content>
          <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Done</mat-radio-button>
            <mat-radio-button value="2">Not Done</mat-radio-button>
          </mat-radio-group></mat-card-actions>
        </mat-card>
        <mat-card >
          <mat-card-title>Streching</mat-card-title>
          <mat-card-subtitle>Run for 6KM</mat-card-subtitle>
          <mat-card-content>Don't drink any juice while running</mat-card-content>
          <mat-card-actions>Status: <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Done</mat-radio-button>
            <mat-radio-button value="2">Not Done</mat-radio-button>
          </mat-radio-group></mat-card-actions>
        </mat-card>
        <p>Your Today's Progress:</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p>You need to workout a bit more, You Can!!</p>
      </mat-tab>
      <mat-tab label="Mental Activities"> </mat-tab>
      <mat-tab label="Diet Plan">
        <mat-card >
        <mat-card-title>Breakfast</mat-card-title>
        <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
        <p>You can have the below items for Breakfast:</p>
        <mat-card-content >
          <mat-list fxFlex="33">
          <mat-list-item> idli-Sambar </mat-list-item>
          <mat-list-item> eggs </mat-list-item>
          <mat-list-item> flex-Seeds </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> tofu </mat-list-item>
          <mat-list-item> dry-fruits </mat-list-item>
          <mat-list-item> multiGrain bread </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> black coffee </mat-list-item>
          <mat-list-item> warm water </mat-list-item>
          <mat-list-item> Green Tea </mat-list-item>
         </mat-list>
         </mat-card-content>
        <mat-card-actions>Had breakfast: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
        <mat-card-actions>Had breakfast from above Items: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
      </mat-card>
      <mat-card >
        <mat-card-title>Lunch</mat-card-title>
        <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
        <p>You can have the below items for Lunch:</p>
        <mat-card-content >
          <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         </mat-card-content>
        <mat-card-actions>Had lunch: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
        <mat-card-actions>Had lunch from above Items: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
      </mat-card>
      <mat-card >
        <mat-card-title>Snacks and Other Items</mat-card-title>
        <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
        <p>You can have the below items for Snacks:</p>
        <mat-card-content >
          <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         </mat-card-content>
        <mat-card-actions>Had Snacks: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
        <mat-card-actions>Had Snacks from above Items: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
      </mat-card>
      <mat-card >
        <mat-card-title>Dinner</mat-card-title>
        <mat-card-subtitle>Quantity and Serving Scale Goes Here</mat-card-subtitle>
        <p>You can have the below items for Dinner:</p>
        <mat-card-content >
          <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         <mat-list fxFlex="33">
          <mat-list-item> Pepper </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
         </mat-list>
         </mat-card-content>
        <mat-card-actions>Had Dinner: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
        <mat-card-actions>Had Dinner from above Items: <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group></mat-card-actions>
      </mat-card>
    </mat-tab>
    </mat-tab-group>
  </div> -->
  <h1>Here is your plan for 7 days:</h1>
  <div class="plan-container"  fxFlexAlign="center">
      <mat-card fxFlex="33">
        <h2>Diet Plan</h2>
        <p>Diet plan includes healthy and customized diet for each person depending on the metabolism and other various factors</p>
        <button mat-raised-button  (click)="openDialog()">Click here to check day wise diet plan</button>
      </mat-card>
      <mat-card fxFlex="33">
        <h2>Physical Activities</h2>
        <p>Physical Activities includes all the activities to get good health and fitness</p>
        <button mat-raised-button  (click)="openDialog()">Click here to check day wise physical activity</button>
      </mat-card>
      <mat-card fxFlex="33" >
        <h2>Mental Activities</h2>
        <p>Mental Activities includes all activities to improve mental health and relief stress in life</p>
        <button mat-raised-button  (click)="openDialog()">Click here to check day wise mental activity</button>
      </mat-card>
  </div>
</div>