.userImage{
  height: 100px;
}
::ng-deep .mat-card{
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
img{
  width: 50%;
  height: 100%;
}
.button{
  background-color: var(--primary-color);
  color: #ededed;
}
