<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Weight Loss" class="container flex-center">
    <a class="blog-card" href="http://howtofightobesity.com/weight-loss-drink/"
      style="--bg-img: url(../../assets/images/weight-loss-blog.jpeg)">
      <div>
        <h1>3 Diabetic Weight Loss Drink Recommended for You</h1>
        <p>Not all weight loss drink is for diabetics, no matter what one says or makes you believe. I am sure you know that diabetics need to be very careful with what they drink and what they eat.
        </p>
        <div class="date">6 jun 2021</div>
        <div class="tags">
          <div class="tag"><a href="#">Read More</a></div>
        </div>
      </div>
    </a>
  </mat-tab>
  <mat-tab label="Weight Gain">
    <a class="blog-card" href="https://blog.decathlon.in/articles/20-best-ways-to-gain-weight-fast-and-safe-in-a-week"
      style="--bg-img: url(../../assets/images/weight-gain-blog.jpeg)">
      <div>
        <h1>20 Safe Ways to Gain Weight Quickly In a Week</h1>
        <p>Safe & quick ways to gain weight. Expect results in just one week. Read through this article and learn how you can get those gains in a short amount of time...</p>
        <div class="date">16 june 2021</div>
        <div class="tags">
          <div class="tag"><a href="#">Read More</a></div>
        </div>
      </div>
    </a>
  </mat-tab>
  <mat-tab label="Diet">
    <a class="blog-card" href="https://betterme.world/articles/no-sugar-diet/"
      style="--bg-img: url(../../assets/images/diet-blog.jpg)">
      <div>
        <h1>No-Sugar Diet: All You Need To Know To Get Started</h1>
        <p>The no-sugar diet, also known as a sugar-free diet, involves reducing or completely excluding simple
          carbohydrates and added sugar from your diet...</p>
        <div class="date">21 june 2021</div>
        <div class="tags">
          <div class="tag"><a href="#">Read More</a></div>
        </div>
      </div>
    </a>
  </mat-tab>
  <mat-tab label="Yoga"> <a class="blog-card"
      href="https://www.yogajournal.com/yoga-101/types-of-yoga/kundalini/a-beginners-guide-to-kundalini-yoga/"
      style="--bg-img: url(../../assets/images/yoga-blog.jpg)">
      <div>
        <h1>A Beginner’s Guide to Kundalini Yoga</h1>
        <p>This ancient healing practice awakens and connects you to the divine energy within yourself, so you can
          achieve a life full of lightness, joy, and boundless love.</p>
        <div class="date">13 june 2021</div>
        <div class="tags">
          <div class="tag"><a href="#">Read More</a></div>
        </div>
      </div>
    </a></mat-tab>
  <mat-tab label="Workout">
    <a class="blog-card"
      href="https://www.heart.org/en/healthy-living/fitness/fitness-basics/why-is-physical-activity-so-important-for-health-and-wellbeing"
      style="--bg-img: url(../../assets/images/workout-blog.jpg)">
      <div>
        <h1>Why is physical activity so important for health and wellbeing?</h1>
        <p>We know that staying active is one of the best ways to keep our bodies healthy. But did you know it can also
          improve your overall well-being and quality of life? </p>
        <div class="date">1 July 2021</div>
        <div class="tags">
          <div class="tag"><a href="#">Read More</a></div>
        </div>
      </div>
    </a>
  </mat-tab>
</mat-tab-group>