.button{
    font-family: var(--heading-font-family);
    padding: .5em 2em;
    margin: 1em;
    min-width: 200px;
    border: none;
    border-radius: 5px;
}
.timing .button{
    background-color: var(--secondary-color);
    width: 200px;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(255,255,255,.7);
}
h3{
    font-family: var(--heading-font-family);
    font-size: 2em;
    font-weight: 600;
    color:var(--primary-color);
    opacity: .8;
}
h4{
    font-family: var(--heading-font-family);
    font-size: 1.5em;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.7);
}
.matBox{
    margin-top: 2rem;
    height: fit-content;
}
.confirm{
    height: fit-content;
}