<div class="container">
    <h1 class="title">Select Your Plan</h1>
    <div class="price-comparison">
        <div class="price-column">
            <div class="price-header">
                <div class="plan-name">BASIC</div>
                <div class="price">
                    <div class="rupee-sign">&#8377;</div>
                    0
                    <div class="per-week">/week</div>
                </div>
                
            </div>
            <div class="divider"></div>
            <div class="plan-features">
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Balanced Diet
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Depression SOS Helpline
                </div>
                <div class="feature inactive">
                    <img src="../../assets/images/x-square.svg" alt="">
                    Exercise Videos and Blogs
                </div>
                <div class="feature inactive">
                    <img src="../../assets/images/x-square.svg" alt="">
                    Personalized Day Wise Plan
                </div>
                <div class="feature inactive">
                    <img src="../../assets/images/x-square.svg" alt="">
                    Seek Appointment with Wellness Mentors
                </div>
                <div class="feature inactive">
                    <img src="../../assets/images/x-square.svg" alt="">
                    Interact with personal Wellness Mentor
                </div>
            </div>
            <button class="callToAction free-plan-button"  disabled >Already Subscribed</button>
        </div>


        <div class="price-column center">
            <div class="price-header">
                <div class="plan-name">GOLD</div>
                <div class="price">
                    <div class="rupee-sign">&#8377;</div>
                    <div>500</div>
                    <div class="per-week">/week</div>
                </div>
            
            </div>
            <div class="divider"></div>
            <div class="plan-features">
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                   Personalized Balanced Diet
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Depression SOS Helpline
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Exercise Videos and Blogs
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Personalized Day Wise Plan
                </div>
                <div class="feature inactive">
                    <img src="../../assets/images/x-square.svg" alt="">
                    Seek Appointment with Wellness Mentors
                </div>
                <div class="feature inactive">
                    <img src="../../assets/images/x-square.svg" alt="">
                    Interact with personal Wellness Mentor
                </div>
            </div>
            <button class="callToAction" (click)="buyNow('GOLD')">Buy Now</button>
        </div>

        <div class="price-column">
            <div class="price-header">
                <div class="plan-name">PLATINUM</div>
                <div class="price">
                    <div class="rupee-sign">&#8377;</div>
                    1000
                    <div class="per-week">/week</div>
                </div>
                
            </div>
            <div class="divider"></div>
            <div class="plan-features">
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Depression SOS Helpline
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Exercise Videos and Blogs
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Personalized Day Wise Plan
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Seek Appointment with Wellness Mentors
                </div>
                <div class="feature">
                    <img src="../../assets/images/check-circle.svg" alt="">
                    Interact with personal Wellness Mentor
                </div>
            </div>
            <button class="callToAction" (click)="buyNow('PLATINUM')">Buy Now</button>
        </div>
    </div>
</div>